# PostgreSQL Database Credentials
SUPABASE_DB_HOST="SUPABASE_USERNAME"
SUPABASE_DB_PORT="SUPABASE_USERNAME"
SUPABASE_DB_NAME="SUPABASE_HOST"
SUPABASE_DB_USER="SUPABASE_PORT"
SUPABASE_DB_PASSWORD="SUPABASE_DATABASE"

# AWS Credentials for IP Rotator
AWS_ACCESS_KEY_ID="AWS_ACCESS_KEY_ID"
AWS_SECRET_ACCESS_KEY="AWS_SECRET_ACCESS_KEY"
AWS_DEFAULT_REGION="AWS_DEFAULT_REGION"